@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Red+Hat+Display&display=swap');

:root {
  --header-height: 120px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--github-black);
}

body * {
  color: white;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 50px;
  height: var(--header-height);
  background-color: white;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 50px;
  margin-left: 20px;
}

nav a {
  font-size: 3rem;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  color: black;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  padding-inline: 30px;
}

section {
  scroll-margin-top: var(--header-height);
}

/* Welcome */

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5rem;
  font-family: 'Red Hat Display', sans-serif;
}

#welcome-section > h2 {
  font-size: 3rem;
  font-family: 'Red Hat Display', sans-serif;
}

/* Projects */

#projects {
  padding-block: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects > .title {
  margin-bottom: 40px;
} 

#projects > ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  width: 100%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tile > a {
  text-decoration: none;
  text-align: center;
}

.project-tile img {
  width: 80%;
}

.project-tile p {
  font-size: 1.6rem;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 10px;
}

/* Contact */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

#contact > .title {
  margin-bottom: 40px;
}

#contact > div {
  display: flex;
  gap: 50px;
}

#contact a {
  font-size: 2rem;
}
